version: 2.0
jobs:
  build:
    docker:
      - image: circleci/node:10.15
    working_directory: ~/concepts
    steps:
      - checkout
      - restore_cache:
         keys:
           - npm-deps-{{ checksum "package.json" }}
      - run:
          name: Build the static site
          command: |
            npm i && npm run build
      - persist_to_workspace:
          root: .
          paths:
            - ./*
      - save_cache:
         key: v3-npm-deps-{{ checksum "package.json" }}
         paths:
          - node_modules

  deploy:
    docker:
      - image: circleci/python:3.7
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install AWS CLI
          command: |
            sudo pip install --upgrade pip
            sudo pip install --upgrade awscli
      - run:
          name: concepts deployment
          command: |
            # show env variables but not the AWS secrets!
            env | egrep -v AWS_

            # protection so other branches not get pushed to -stage or -prod accidentally
            if [[ "$CIRCLE_BRANCH" != "stage" && "$CIRCLE_BRANCH" != "prod" ]] ; then
              echo "We only deploy for stage or prod branch, not $CIRCLE_BRANCH."
              exit 1
            fi

            if [ "$CIRCLE_BRANCH" == "stage" ] ; then
              export AWS_ACCESS_KEY_ID="${STAGE_AWS_ACCESS_KEY_ID}"
              export AWS_SECRET_ACCESS_KEY="${STAGE_AWS_SECRET_ACCESS_KEY}"
              export DISTRIBUTION_ID="${STAGE_DISTRIBUTION_ID}"
              export CONCEPTS_BUCKET="${STAGE_CONCEPTS_BUCKET}"
            fi

            ./.utils/deploy.sh
            ./.utils/invalidate-cloudfront-cache.sh

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - stage
                - prod
