@media (max-width: 768px) {
  .mzp-c-navigation-container .mzp-c-button {
    display: none;
  }
}

.expire {
  background: #54ffbd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  padding: 32px;
  margin-bottom: 24px;
}
