#mzp-c-navigation-items {
  display: none;
}

.mzp-l-billboard-left {
  background: none;
}

.mzp-c-call-out-compact {
  background: #2a0140 !important;
}

.cobrand {
  margin: -10px 0 20px;
  font-weight: 400;
  font-family: "Open Sans", X-LocaleSpecific, sans-serif;
  font-size: 24px;
}

.mzp-t-download {
  text-align: center;
}

.page-not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.page-not-found h1 {
  padding: 40px;
}