#mzp-c-navigation-items {
  display: none;
}

.mzp-l-billboard-left {
  background: none;
}

.mzp-c-call-out-compact {
  background: #2a0140 !important;
}


.center {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.cobrand {
  margin: -16px 0 20px;
  font-weight: 400;
  font-family: "Open Sans", X-LocaleSpecific, sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    margin: 2px 2px 0;
  }
}

.mzp-t-download {
  text-align: center;
}

.mzp-c-footer-secondary img,
.mzp-c-navigation-container img {
  margin: 20px 0 10px;
  height: 32px;
  width: auto;
}

.mzp-c-billboard-image-container img{
  height: auto;
  max-width: 346px !important;
}

@media (max-width: 1056px) {
  .mzp-c-billboard-image-container img{
    height: auto;
    max-width: 300px !important;
  }
}

@media (min-width: 1057px) {
  .mzp-c-billboard-image-container img {
    margin-top: 56px !important;
  }
}